<style scoped>
  input {
    width: 60px;
    font-size: 14px;
    text-align: center;
    margin: 0;
    float: right;
    height: 28px;
    font-weight: bold;
  }

  .spin {
    -webkit-transform-origin: 50% 42%;
    transform-origin: 50% 42%;
    -ms-transform-origin: 50% 42%; /* IE 9 */
    -webkit-animation: spin .5s infinite linear;
    -moz-animation: spin .5s infinite linear;
    -o-animation: spin .5s infinite linear;
    animation: spin .5s infinite linear;
  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  i {
    float: right;
    text-align: center;
    background: #ccc;
    cursor: pointer;
  }

  .btn-del {
    /*float: left;*/
    margin-left: 20px
  }

  up-down {
    width: 20px;
    height: 20px;
    margin: 0;
    float: left;
    padding: 0px;
  }

  label {
    float: right;
    margin-top: 3px;
  }

  .buy label {
    color: green;
  }

  .sell label {
    color: red;
  }

  .small input {
    width: 100px;
    font-size: 20px;
    height: 40px;
    padding: 0;
  }

  .small label {
    font-size: 20px;
    margin-top: 0px;

  }

  .small i {
    float: right;
    font-size: 26px;
    margin: 0 8px
  }

  i {
    border: solid 1px #999;
    padding: 0 0 0 2px;
    height: 28px;
    width: 28px;
    font-size: 24px;
  }

  .large i {
    float: right;

  }

  i.glyphicon-minus {
    margin: -1px 0 0 8px;
    padding: 1px 1px 1px 0;
  }

  i.glyphicon-plus {
    margin: -1px 4px 0 0

  }

  i.glyphicon-minus-sign {
    border: none;
    width: auto;
    margin: 1px 0 0 8px;
    background: none;
  }

  i.glyphicon-refresh {
    border: none;
    width: auto;
    margin: 1px 0 0 8px;
    background: none;
  }

  .small .btn {
    /*padding: 10px 16px;*/
    font-size: 16px;
    line-height: 1.3333333;
    border-radius: 6px;
  }

  .small div.buy {
    padding: 9px;
  }

  .small div.sell {
    padding: 9px;
  }

  .small i {
    width: 40px;
    height: 40px;
    padding: 6px 0 6px 0;
  }

  .small i.glyphicon-minus-sign {
    margin: 2px 0 0 8px;
  }

  .small i.glyphicon-refresh {
    margin: 2px 0 0 8px;
  }
</style>

<template>
  <div class="form_buy_sell" :class="ex_class">
    <div v-show="mode==1" class="buy">
      <i v-show="is_loading" class="glyphicon glyphicon-refresh spin"></i>
      <i v-show="!is_loading" class="btn-del glyphicon glyphicon-minus-sign" @click.prevent="click_del"></i>

      <i class="glyphicon glyphicon-plus" @click.prevent="click_increase"></i>
      <input type="number" :value="buy_value" placeholder="ทุกราคา">
      <i class="glyphicon glyphicon-minus" @click.prevent="click_decrease"></i>
      <label>ซื้อ</label>
    </div>
    <div v-show="mode==2" class="sell">

      <i v-show="is_loading" class="glyphicon glyphicon-refresh spin"></i>
      <i v-show="!is_loading" class="btn-del glyphicon glyphicon-minus-sign" @click.prevent="click_del"></i>


      <i class="glyphicon glyphicon-plus" @click.prevent="click_increase"></i>
      <input type="number" :value="sell_value" placeholder="ทุกราคา">
      <i class="glyphicon glyphicon-minus" @click.prevent="click_decrease"></i>
      <label>ขาย</label>
    </div>
    <div v-show="mode==0">
      <i v-show="is_loading" class="glyphicon glyphicon-refresh spin"></i>

      <button v-show="!is_loading" class="btn btn-success" @click.prevent="click_buy">ซื้อ</button>
      <button v-show="!is_loading" class="btn btn-danger" @click.prevent="click_sell">ขาย</button>
    </div>
    <div class="clearfix"></div>
  </div>
</template>

<script>
  export default {
    mounted() {
      console.log('Component mounted.', this.def_mode);
      this.mode = this.def_mode;
      this.buy_value = this.def_buy_value;
      this.sell_value = this.def_sell_value;
      this.post_id = this.def_post_id;
    },
    methods(){
      return {}
    },
    props: ['def_mode', 'def_buy_init', 'def_sell_init', 'def_buy_value', 'def_sell_value', 'def_post_id', 'game_id', 'ex_class'],
    data() {
      return {
        is_loading: false,
        mode: 0, //0 , buy:1, sell:2
//        def_buy_init: 1000,
//        def_sell_init: 1000,
        buy_value: null,
        sell_value: null,
        message: 'Hello Vue.js!',
        queueObj: null,
        click_buy: function () {
          //this.mode = 1;
          this.savePost(1);
        },
        click_sell: function () {
          //this.mode = 2;
          this.savePost(2);
        },
        click_del: function () {
          this.mode = 0;
          this.savePost(this.mode);
        },
        click_increase: function () {
          this.click_alter(+50);

        },
        click_decrease: function () {
          this.click_alter(-50);

        },
        click_alter: function (amount) {
          if (this.mode == 1) {
//            var val = this.buy_value;
            if (this.buy_value) {
              this.buy_value = this.buy_value * 1 + amount;
              if (this.buy_value == 0)this.buy_value = null;
            } else {
              this.buy_value = Math.max(50, this.def_buy_init)
            }
          } else if (this.mode == 2) {
//            var val = this.sell_value;
            if (this.sell_value) {
              this.sell_value = this.sell_value * 1 + amount;
              if (this.sell_value == 0)this.sell_value = null;
            } else {
              this.sell_value = Math.max(this.def_sell_init)
            }
          }
          this.queueSave(this.mode);
        },
        queueSave(){
          if (this.queueObj)
            clearTimeout(this.queueObj);
          var that = this;
          this.queueObj = setTimeout(function () {
            that.savePost(that.mode);
          }, 1000);
        },
        savePost(mode){
          var that = this;
          this.is_loading = true;
          axios.post('/post/ajax', {
                post_id: that.post_id,
                game_id: that.game_id,
                mode: mode,
                buy_value: that.buy_value,
                sell_value: that.sell_value
              })
              .then(function (response) {
                console.log(response);
                that.post_id = response.data.post_id;
                that.mode = response.data.mode * 1;
                that.is_loading = false;
              })
              .catch(function (error) {
                console.log(error);
                that.is_loading = false;
                that.queueSave();
              });
        }


      };
    }
  }
</script>

