// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
// Variables
@import "variables";
// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

td.buy_sell {
  min-width: 200px;
  text-align: right;
  .btn {
    margin: 1px;
    padding: 2px;
    width: 60px;
  }
}

td.name {
  .btn {
    //width: 100px;
  }
  .big {
    font-size: 24px;
  }
}

.form_buy_sell {

}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
